h1{
    text-align: left;
    margin-top: 1em;
    margin-left: 1.5em;
    display: flex;
    flex-direction: column;
}

#holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#Name-input{
    margin-top: 2em;
    width: 30em;
    height: 3em;
    border-radius: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
}
#Email-input{
    margin-top: 1.7em;
    padding-left: 1em;
    padding-right: 1em;
    width: 30em;
    height: 3em;
    border-radius: 0.7em;
}

#Message-input{
    margin-top: 1.7em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 5em;
    width: 30em;
    height: 3em;
    border-radius: 0.7em;
}

.Send-btn{
    margin-top: 1em;
    width: 13em;
    height: 3em;
    border-radius: 0.6em;
    background-color: #C9FF9E;
}

.Send-btn:hover{
    background-color: #e3ffcd;
}

.History-btn{
    margin-top: 1em;
    width: 13em;
    height: 3em;
    border-radius: 0.6em;
    margin-left: -76em;
    background-color: #00acf0;
}

.History-btn:hover{
    background-color: #55bfe9;
}

.balance-holder{
    font-size: 1.5rem;
    padding-left: 0.4em;
}

.cart-holder{
    padding-left: -1em;
}

#all-products li{
    display: inline-block;
    width: 80%;
    border: 1px solid black;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 25px;
    margin-bottom: 1em;
}

#all-products p{
    font-size:0.8em;
    display: table-cell;
    text-align: left;
    padding-right: 12em;
}

#all-products #product-holder2{
    text-align: right;
    font-size: 1em;
    width: 20em;
    padding-right: 20em;
}

#all-products #product-holder3{
    font-size: 1em;
    text-align: right;
}

.history-holder li{
    display: inline-flex;
    background-color: rgba(119, 194, 255, 0.616);
    border: 1px solid black;
    border-radius: 25px;
    padding-top: 0;
    margin-top: 1em;
}

#product-cancel{
    cursor: pointer;
    color: red;
}

.address-holder{
    width: 60%;
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    border: 2px solid rgb(158, 0, 0);
    padding: 20px;
    border-radius: 20px;
}


